{% include "admin/layout/top.html" %} {% block content%} {% endblock %}


<div class="container" style="display: inline-block;">
  <h1>Selamat Datang, Admin</h1>
</div>
<hr>
<div class="tile_count">
  <div class="col-md-6">
    <div class="col-md-3 col-sm-3  tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Total Isoman</span>
      <div class="count">{{data.persebaran[0][0]}}</div>
    </div>
    <div class="col-md-3 col-sm-3  tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Total Dirawat</span>
      <div class="count">{{data.persebaran[0][1]}}</div>
    </div>
    <div class="col-md-3 col-sm-3  tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Total Sembuh</span>
      <div class="count">{{data.persebaran[0][2]}}</div>
    </div>
    <div class="col-md-3 col-sm-3  tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Total Meninggal</span>
      <div class="count">{{data.persebaran[0][3]}}</div>
    </div>
  </div>
</div>


{% include "admin/layout/bottom.html" %} 